@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/JosefinSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/JosefinSlab-Bold.ttf') format('truetype');
}
